<!DOCTYPE html>
<html>
  <head>
    <title>CSP Tuner</title>
    {% block styles %}
    <link rel="stylesheet" href="/styles/styles.css" />
    {% endblock %}
    {% block scripts %}
    <script src="/js/htmx.min.js"></script>
    {% endblock %}
  </head>
  <body>
    <h1>CSP Tuner</h1>
    {% block content %}
    {% endblock %}
  </body>
</html>
