{% extends "_layout.njk" %}

{% block content %}
  <section class="h-screen">
    <div id="container" class="px-6 h-full text-gray-800">
      {% include mainComponent|component %}
    </div>
  </section>
{% endblock %}