{% extends "_layout.njk" %}

{% block content %}
  <section class="h-screen">
    <div id="container" class="px-6 h-full text-gray-800 flex flex-row">
      <div id="mainComponent" class="w-9/12">
      {% include mainComponent|component %}
      </div>
      <div id="detailPane" class="w-3/12">
      {% if detailComponent %}
        {% include detailComponent|component %}
      {% endif %}
      </div>
    </div>
  </section>
{% endblock %}