<div
      class="flex xl:justify-center lg:justify-between justify-center items-center flex-wrap h-full g-6">
        <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-12 md:mb-0">
          <div id="formAction" hx-ext="sse" sse-connect="/client/events/metrics">
            <p>Violation Count: <b id="violationCount" sse-swap="change_violationCount">{{ metrics.violationCount }}</b></p>
            <p>Unique Violation Origin/Directive Combinations: <b id="odvCount" sse-swap="change_odvCount">{{ metrics.odvCount }}</b></p>
          </div>
        </div>
</div>