      {% for item in data %}
        <tr>
          <td class="border border-slate-700">{{ item.resourceSource }}</td>
          <td class="border border-slate-700">{{ item.directive }}</td>
          <td class="border border-slate-700">{{ item.uriCount }}</td>
          <td class="border border-slate-700">Details</td>
        </tr>
      {% endfor %}