<table class="border-spacing-2 border border-slate-500 overflow-y-auto">
  <thead>
    <tr>
      <th><form id="autorefreshForm"><label for="autorefresh" class="text-sm font-light text-gray-400">Autorefresh</label><input type="checkbox" name="autorefresh" disabled /></form></th>
    </tr>
    <tr>
      <th>Source</th>
      <th>Directive</th>
      <th>Unique violating URIs</th>
      <th><!--details--></th>
    </tr>
  </thead>
  <tbody id="tableBody">
    {% include "./odvTableBody.njk" %}
  </tbody>
  <tfoot>
    <tr><td colspan="5"></td></tr>
  </tfood>
</table>