<table class="border-spacing-2 border border-slate-500 overflow-y-auto">
  <thead>
    <tr>
      <th><form id="autorefreshForm"><label for="autorefresh" class="text-sm font-light text-gray-400">Autorefresh</label><input type="checkbox" name="autorefresh" disabled /></form></th>
    </tr>
    <tr>
      <th><!--timestamp--></th>
      <th>document-uri</th>
      <th>blocked-uri</th>
      <th>violated-directive</th>
      <th><!--details--></th>
    </tr>
  </thead>
  <tbody id="tableBody">
    {% include "./violationTableBody.njk" %}
  </tbody>
  <tfoot>
    <tr><td colspan="5">
      {% for page in pagination.prevPages %}
        <a href="/client/violations/{{page}}" class="text-teal-600 hover:text-teal-800 transition duration-300 ease-in-out">{{page}}</a>
      {% endfor %}
      <span class="bg-teal-200">{{ pagination.currPage }}</span>
      {% for page in pagination.nextPages %}
        <a href="/client/violations/{{page}}" class="text-teal-600 hover:text-teal-800 transition duration-300 ease-in-out">{{page}}</a>
      {% endfor %}
    </td></tr>
  </tfood>
</table>